@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



body {
    font-family: 'Fira Code', monospace;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}
h2 {
    font-size: 1.3rem;
    font-weight: 600;
}
p {
    font-size: 0.7rem;
    font-weight: 400;
}

.reset {
    display: none;
}


button {
    font-family: 'Fira Code', monospace;
    font-size: 1rem;
    font-weight: 700;
}

header {
    background-color: black;
    color: white;
    padding: 0.5rem;
    text-align: center;
}
.container {
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
}
.game-container,
.score-container {
    display: flex;
    justify-content: space-between;
}
.left-game-container,
.left-score-container {
    display: flex;
    flex-direction: column;
}
.middle-game-container,
.middle-score-container {
    display: flex;
    flex-direction: column;
}
.right-game-container,
.right-score-container {
    display: flex;
    flex-direction: column;
}

#player-score,
#score-result,
#computer-score {
    text-align: center;
}


img {
    max-width: 100%;
    height: auto;
  }

.game-container img {
   height: 320px;
   width: 240px;
   padding: 1rem 0.7rem;
   border-radius: 1rem;
   
}
.game-container button {
    border-radius: 0.4rem;
    border: none;
    background-color: black;
    color: white;
    margin: 0 1rem;
    padding: 0.2rem;
    cursor: pointer;
}




.score-container {
    padding: 4rem 4rem;
}




footer {
    background-color: black;
    color: white;
    padding: 0.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer img {
    height: 30px;
    width: 30px;
    margin-left: 1rem;
}


